* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-color: #E4E4E4;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

footer {
    text-align: center;
    background-color: gainsboro !important;
    font-size: xx-small;
}

.nav-tabs {
    text-align: center;
}

    .nav-tabs > li {
        float: none;
        display: inline-block;
        zoom: 1;
    }

        .nav-tabs > li > a {
            color: black !important;
            font-size: medium;
            margin: 0 2px !important;
        }

        .nav-tabs > li.active {
            font-size: large;
            font-weight: bold;
            background-color: chartreuse !important;
        }

.photocss {
    height: 120px;
}

#FranzenName {
    font-weight: bold;
    font-size: large;
    color: navy;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: brown;
    height: 1px;
}

#k2oResultSpan {
    font-size: x-large;
    font-weight: bold;
}

.resultDiv {
    margin-bottom: 70px;
    background-color: aliceblue;
    color: black;
    font-size: medium;
    border: solid;
    border-color: darkgreen;
    height: 120px;
    text-align:center;
}

#intro p {
    font-size: medium !important;
}

.dynamic-year {
    font-size: x-small;
}

.collapseBtn {
    cursor: pointer;
    width: 100% !important;
    font-weight: bold !important;
    font-size: large !important;
}

.f1 {
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
}

.f2 {
    font-size: medium;
    font-stretch: extra-expanded;
    font-weight: bold;
}

.labelSize{
    font-size:medium;
}

.border-top {
    border-top-style: double;
    border-top-color: dimgrey;
    border-top-width: thick;
}

select option{
    font-size:medium;
    font-weight:bold;
}

#contactDiv{
    text-align:center; 
    margin-bottom:40px;
}
