body {
    background-color:honeydew;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif, 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', ;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    text-align: center;
    background-color: gainsboro !important;
    font-size: small;
    opacity:0.7;
}

.dynamic-year {
    font-weight:normal;
}

#developer{
    color:brown;
    font-style:italic;
    font-size:x-small;
}

.border-top {
    border-top-style: double;
    border-top-color: dimgrey;
    border-top-width: thick;
}

.labelSize{
    font-size:medium;
}

#k2oResultSpan {
    font-size: x-large;
    font-weight: bold;
}

