body {
    background-color:honeydew;
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif, RobotoRegular, Droid Sans, Segoe UI, Segoe, San Francisco;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    text-align: center;
    background-color: gainsboro !important;
    font-size: small;
    opacity:0.7;
}

.dynamic-year {
    font-weight:normal;
}

.border-top {
    border-top-style: double;
    border-top-color: dimgrey;
    border-top-width: thick;
}

.labelSize{
    font-size:medium;
}

#k2oResultSpan {
    font-size: x-large;
    font-weight: bold;
}

h2{
    color:darkslategrey; font-weight:bold;
}

.centerDiv{
    text-align:center; 
    width:40%; 
    margin-left:30%;
}

li{
    font-size:large; 
    font-weight:bold; 
    border: solid; 
    border-color:darkgray;
}

#aboutDiv{
    font-size:16px; 
    text-align:justify;
}

.container, .jumbotron, #aboutDiv h3, #CalculatorDiv{
    text-align:center;
}

.p1{
    float:right; 
    font-size:small;
}

.p2{
    clear:both;
}

.p3{
    color:brown; 
    font-weight:bold;
    text-align:center;
}

.p4{
    text-align:center; 
    font-size:small;
}

.p5{
    font-size:medium; 
    text-align:left; 
    padding-left:10px; 
    padding-right:10px; 
    font-weight:bold;
}

.left-h4{
    font-weight:bold; 
    text-align:left;
}

#cornPriceSelect, #kPriceSelect{
    width:50%; 
    margin-left:25%; 
    font-size:medium; 
    font-weight:bold;
}

#resultDiv{
    font-size: medium; 
    border: solid; 
    border-color: darkgreen;
    height: 80px; 
    text-align:center; 
    background-color:brown; 
    color:white;
}
